<body>
  <div class="wrapper-container">
    <div class="wrapper-masthead">
      <div class="container">
        <header class="site-header">
          <img src="{{ site.baseurl }}/images/logo.png" alt="Camp logo" class="logo" />

          <nav class="nav">
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/dresscode">Practical<br>Information</a>
            <a href="{{ site.baseurl }}/activities">Activity Sign-Up</a>
            <a href="{{ site.baseurl }}/gifts">Registry</a>
          </nav>
        </header>
      </div>
    </div>

    <div class="wrapper-main">
      <main id="main" role="main" class="container page-content">
        {{ content }}
      </main>
    </div>
  </div>

  {% include analytics.html %}
</body>
